
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpectraView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/bootstrap-scroll-modal.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#myModal1" role="button" class="my-upload-btn" data-toggle="modal" data-dynamic="true">Log In</a></li>

        </ul>
        <h3 class="muted">Spectra View</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Spectra View</h1> <h2>lets you view, compare and organize <br /> data sets!</h2>
        <p class="lead"></p>
        <a href="#myModal2" role="button" class="btn btn-large btn-success" data-toggle="modal" data-dynamic="true">Create Account</a>
      </div>

      <hr>

      

      <div class="footer">
        <p>&copy; Spectra View 2013</p>
      </div>



        <!-- Log in Modal -->
      <div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <button class="btn my-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-body">

          <form class="form-signin" action="../models/process_login.php" method="POST">
            <h3 class="form-signin-heading">Please sign in</h3>
            <div class="control-group ">
                  <label class="control-label">User Name</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input-xlarge" id="uname" placeholder="User Name" name="USERNAME" maxlength=32 />
                </div>
              </div>
            </div>
            <div class="control-group">
                  <label class="control-label">Password</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                  <input type="Password" id="passwd" class="input-xlarge" placeholder="Password" name="PASSWORD" maxlength=45 />
                </div>
              </div>
            </div>
           
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
          </form>
          
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
        
      <!-- Sign Up Modal -->
      <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

         <button class="btn my-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-body my-modal-body">

         <form id="signup" class="form-horizontal" method="post" action="">
            <h3 class="form-signin-heading">Create Account</h3>
            <div class="control-group">
                <label class="control-label">Prefix</label>
              <div class="controls">
                <select class="span1">
                  <option>   </option>
                  <option>Dr.</option>
                  <option>Mrs.</option>
                  <option>Mr.</option>
                  <option>Ms.</option>
                  <option>Miss</option>
                </select>
              </div>
            </div>
            <div class="control-group">
                  <label class="control-label">First Name</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input-xlarge" id="fname" name="fname" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="control-group ">
                  <label class="control-label">Last Name</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input-xlarge" id="lname" name="lname" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="control-group">
                <label class="control-label">Suffix</label>
              <div class="controls">
                <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input-mini" id="suffix" name="suffix" placeholder="Suffix">
                </div>
              </div>
            </div>
            <div class="control-group ">
                  <label class="control-label">Institution</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-home"></i></span>
                  <input type="text" class="input-xlarge" id="institution" name="institution" placeholder="Institution">
                </div>
              </div>
            </div>
            <div class="control-group">
                  <label class="control-label">Email</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                  <input type="text" class="input-xlarge" id="email" name="email" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="control-group ">
                  <label class="control-label">User Name</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" class="input-xlarge" id="uname" name="uname" placeholder="Create a Username">
                </div>
              </div>
            </div>
            <div class="control-group">
                  <label class="control-label">Password</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                  <input type="Password" id="passwd" class="input-xlarge" name="passwd" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="control-group">
                  <label class="control-label">Confirm Password</label>
              <div class="controls">
                  <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                  <input type="Password" id="conpasswd" class="input-xlarge" name="conpasswd" placeholder="Re-enter Password">
                </div>
              </div>
            </div>

            <div class="control-group">
            <label class="control-label"></label>
                <div class="controls">
                 <button type="submit" class="btn btn-success" >Create My Account</button>

                </div>

            </div>

         </form>

      </div>
    </div>





    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery1-9.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
    <script src="js/bootstrap-scroll-modal.js"></script>

  </body>
</html>
