




/*=============================================================TOP NAVIGATION*/
.my-navbar-inner{
	border-radius: 0;

}


/*=============================================================MAIN CONTAINER*/
.my-container-fluid{
	padding:0;
	margin:0;
}
.tool-bar-main .nav-pills > li > a{
	border:1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
.nav-pills {
    text-align:center;
}

/*=============================================================SIDEBARS*/
/*===================================================left*/
.span1 .sidebar-left {
	border-radius: 0 4px 4px 0;
}
ul.left-navigation li{
	margin: 20px 3px;
}
.my-upload-btn{
	padding:5px 15px;	
}
/*====================================================right*/
.span3 .sidebar-right{
	border-radius: 4px 0 0 4px;
}
.sidebar-right p.browse-title,i {
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
}
.my-browse-tabs{
	font-size: 70%;

}
.sidebar-right .filter-btn button {
	margin-bottom: 1em;
}
/*=============================================================SEARCH*/

input.searchMain{
	padding-left: 10px;
	width:70%;
}

/*=============================================================MODALS*/
button.my-close-btn{
	padding:0 10px;
}
.modal.fade.in{
	top:3%;
}
.my-modal-body{
	max-height: 1000px;
	overflow-y:auto;
}
h5.form-signin-heading{
	margin-top: 0;
}
#myModalupload span.small-text{
	font-size: 75%;
}
/*=============================================================VIEWPORT*/
.viewport-display {
	min-height: 480px;
    padding: 20px;
    margin: 0px 0 10px 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.viewport-display > .set-view{
	border-bottom:1px solid #ccc;
	min-height: 240px;
}
.viewport-display .graph{
	min-height: 240px;
	/*border:1px solid black;*/
}
.viewport-display .info{
	min-height: 240px;
	border-left:1px solid #ccc;
	
}
.viewport-display .set-2-empty{
	min-height: 240px;
/*	border:1px solid black;*/
	margin-left: 0;
}
.viewport-display .info-display{
	height:auto;
/*	border:1px solid black;*/
}
.viewport-display .set_tools ul li{
	display: inline-block;
	padding-top: 2em;
/*	border:1px solid black;*/
}
.viewport-display .set_tools ul{
	padding-right: 2em;
}
.info ul li{
	list-style: none;
}
.info-display .info-content{
	padding-top:1em;
	margin-bottom: 5em;
	font-size: 90%;
}
.info-content li{
	font-size: 90%;
}
.viewport-display .load-another {
	margin-top: 3em;
}
/*=============================================================MEDIA QUERIES*/

@media (min-width: 1200px) {

/*	.my-upload-btn{
		margin-left:6%;
		width:70%;
	}*/

}



