
a{
	/*color:#F4B21B;*/
	/*color:#2b8685;*/
	color:#F2B017;
}
a:hover{
	color:#f9f9f9;
	text-decoration: none;
}
body{
	background: #fff;
	/*background-color: #585858;*/	
	/*background-size: 200px 200px;*/
	font-family: 'Oxygen';
}
body.workspace-body{
	background: url('../img/bkgd-2.png') repeat top left transparent;

}
.well {
	/*background: #fff;*/
	background-color: #333333;
	/*background-color: #404040;*/
	border:none;

}
.my-container-fluid{
	/*background-color: #4D4D4D;*/
}

.btn-custom {

  background-color: hsl(0, 0%, 4%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838", endColorstr="#0a0a0a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#383838), to(#0a0a0a));
  background-image: -moz-linear-gradient(top, #383838, #0a0a0a);
  background-image: -ms-linear-gradient(top, #383838, #0a0a0a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #0a0a0a));
  background-image: -webkit-linear-gradient(top, #383838, #0a0a0a);
  background-image: -o-linear-gradient(top, #383838, #0a0a0a);
  background-image: linear-gradient(#383838, #0a0a0a);
  border:none;
  color:#F2B017 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;

  border-radius: 5px;
}
/*=============================================================TOP NAVIGATION*/
.navbar{
	/*background-color: #000;*/
}
.my-navbar-inner{
	border-radius: 0;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
/*	background-color: #000;
	background-image: none;*/
	background-color: hsl(0, 0%, 4%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838", endColorstr="#0a0a0a");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#383838), to(#0a0a0a));
	background-image: -moz-linear-gradient(top, #383838, #0a0a0a);
	background-image: -ms-linear-gradient(top, #383838, #0a0a0a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #0a0a0a));
	background-image: -webkit-linear-gradient(top, #383838, #0a0a0a);
	background-image: -o-linear-gradient(top, #383838, #0a0a0a);
	background-image: linear-gradient(#383838, #0a0a0a);
	border-color: #0a0a0a #0a0a0a hsl(0, 0%, -0.5%);
	border-bottom: none;
	border-top: none;
	border-right:none;
	border-left: none;

}
.my-navbar-inner .btn-group a.dropdown-toggle{
	text-shadow:none;
	padding: 10px 7px 12px 7px;
	border-radius: 0;
	margin-top: -6px;
	margin-right: -41px;
	border-top: none;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: none;
	color: #ddd;
	display: block;
	background: #333333;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #404040));
	background: -ms-linear-gradient(bottom, #333333, #404040);
	background: -moz-linear-gradient(center bottom, #333333 0%, #404040 100%);
	background: -o-linear-gradient(bottom, #333333, #404040);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040',EndColorStr='#333333')";
}

.dropdown-menu{
	/*background-color: #303030;*/
	background: #45BAB4;
	
}
.dropdown-menu li a{
	/*color:#F2B017;*/
	color:#000;
	padding: 12px 20px;
	font-size: 16px;
	letter-spacing: 1px;
}
.dropdown-menu li>a:hover{
	background-color:#45BAB4;
	background-image:none;
	color:#f9f9f9;
}
.dropdown-menu .divider{
	border:none;
	background-color: #000;
}
.navbar .nav>li>a{
	text-shadow:none;
	letter-spacing: 1px;
	/*color:#2b8685;*/

}
.top-nav {
	max-width: 285px;
	margin: 0 auto;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	color: #ddd;
	display: block;
	background: #333333;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #404040));
	background: -ms-linear-gradient(bottom, #333333, #404040);
	background: -moz-linear-gradient(center bottom, #333333 0%, #404040 100%);
	background: -o-linear-gradient(bottom, #333333, #404040);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040',EndColorStr='#333333')";
	margin-top:-1px;
	padding-bottom: 12px;
}
.nav-list>li>a, .nav-list .nav-header {
	text-shadow:none;
}
.nav-tabs>li>a {
	/*margin-top: 15px;*/
	/*background-color: #808080;*/
}
.nav-pills>li>a{
	/*background-color: #808080;*/
	border:none;
	color:#000;
}
.btn-toolbar a{
	margin-left: 10px;
	color:#000;

}
/*=============================================================MAIN CONTAINER*/
.my-container-fluid{
	padding:0;
	margin:0;
}

.nav-pills > li {
    float:none;
    display:inline-block;
   
}
.nav-tabs.nav-stacked>li>a {
	 border:none;
	 border-radius: 0;
	 display: block;

}
.nav-pills {
    text-align:center;
}

/*=============================================================SIDEBARS*/
ul.set-list .btn-group{
	padding-top: 10px;
}

.sidebar-left ul.left-navigation li, .sidebar-left .accordion-group{

	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #0d0d0d;
	border-left: none;
	color: #ddd;
	display: block;
	background: #333333;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #404040));
	background: -ms-linear-gradient(bottom, #333333, #404040);
	background: -moz-linear-gradient(center bottom, #333333 0%, #404040 100%);
	background: -o-linear-gradient(bottom, #333333, #404040);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040',EndColorStr='#333333')";
	/*font-weight: bold;*/
	/*font-weight: normal;*/
	font-size: 1.1em;
	line-height: 2.5em;
	padding: 0em .25em;
	margin-bottom: 0px;
	text-shadow: none;
	text-transform: none;
	border-radius: 0;


}
.sidebar-left ul.left-navigation li a:hover, .sidebar-left .accordion-group a:hover, .sidebar-right ul.nav-stacked li a:hover{
	background: #333333;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #454545));
	background: -ms-linear-gradient(bottom, #333333, #454545);
	background: -moz-linear-gradient(center bottom, #333333 0%, #454545 100%);
	background: -o-linear-gradient(bottom, #333333, #454545);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545',EndColorStr='#333333')";

}

.sidebar-left i, .sidebar-right i{
	margin-right: 5px;
	font-size: 18px;
}
.sidebar-right ul.nav-stacked li{
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #0d0d0d;
	border-left: none;
	color: #ddd;
	display: block;
	background: #333333;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #404040));
	background: -ms-linear-gradient(bottom, #333333, #404040);
	background: -moz-linear-gradient(center bottom, #333333 0%, #404040 100%);
	background: -o-linear-gradient(bottom, #333333, #404040);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040',EndColorStr='#333333')";
/*	font-weight: bold;*/
	font-weight: normal;
	font-size: 1em;
	line-height: 2.5em;
	/*padding: 0em .25em;*/
	margin-bottom: 0px;
	text-shadow: none;
	text-transform: none;
	border-radius: 0;
}
/*===================================================left*/
.span2 .sidebar-left
{
	/*padding-top: 20px;*/
	margin-top: -20px;
	border-radius: 0 0 5px 0px;
} 
.span1 .sidebar-left {
	border-radius: 0 4px 4px 0;
}
.sidebar-left ul.logo-header li a{
	padding:20px 10px 10px 10px;
	text-align: center;
	font-size: 1.5em;
	/*color:#F2B017;*/
	/*color:#2b8685;*/
	color:#45BAB4;
	letter-spacing: 1px;
}
.sidebar-left ul.logo-header li a:hover{
	background-color: transparent;
}
.my-upload-btn{
	padding:5px 15px;	
}
.accordion-group{
	border:none;
}
.sidebar-left p.dashboard-title{
	color:#eee;
	letter-spacing: 2px;
	text-shadow:none;
	text-align: center;
	background-color: #0d0d0d;
	padding:10px 0 10px 0;
	margin-bottom: 0px;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 12px;
}
.sidebar-left .nav-list{
	padding-right: 0;
	padding-left: 0;
}
.nav-list>li>a, .nav-list .nav-header {
	margin-left: 0;
	margin-right: 0;
}

.sidebar-left ul.left-navigation li:first-child{
	/*margin-bottom: -10px;*/
}
.sidebar-left .left-navigation{
	text-align: center;
	/*border-bottom: 1px solid #252525;*/
}

.sidebar-left .accordion-heading i{
	margin-right: 8px;
}
.sidebar-left .accordion{
	/*margin-top: 15px;*/
	font-size: 11px;

}
.sidebar-left .accordion-heading{
	padding-left: -10px;
}
/*====================================================right*/
.sidebar-right .well
{
	border-radius: 0px 0 0 5px;
	padding-top: 90px;
	margin-top: -70px;
	background-color: transparent;
/*	border-radius: 5px 0 0px 5px;
	margin-top: 9px;*/
}
.sidebar-right p.browse-title, i {
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	border-radius: 5px 0 0 0px;
	/*font-size: 12px;*/
}
.sidebar-right p.browse-title{
	color:#eee;
	letter-spacing: 2px;
	text-shadow:none;
	text-align: center;
	background-color: #0d0d0d;
	padding:10px 3px 10px 3px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: -10px;
	/*border-radius:5px 0 0 0 ;*/
}
.sidebar-right p.browse-title i{
	font-size: 16px;
	margin-right: 2px;

}
.my-browse-tabs{
	/*font-size: 70%;*/

}

.sidebar-right .nav-tabs li a{
	padding-top: 11px;
	padding-bottom: 11px;
	
}
.sidebar-right ul.nav-stacked li:last-child{
	/*background-color: #252525;*/
	/*border-top: 1px solid #252525;*/
	border-radius: 0px 0 0 5px;
}
.sidebar-right ul.nav-stacked li:first-child{
/*	border-bottom: 1px solid #252525;
	box-shadow: inset 0px 0px 1px #aaa;
	border-radius: 4px 0px 0px 4px;*/
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
}
.sidebar-right.nav-tabs>.active>a, .nav-tabs>.active>a:hover{
	border:none;
}
.sidebar-right .nav-tabs>.active>a{
	background-color: transparent;
}
/*=============================================================SEARCH*/
.search-bar input[type="text"]{
	background-color: #333333;
	/*background: #4d4d4d;*/
	color:#eee;
	border: none;
	width: 80%;
}
.search-bar .input-prepend input{
	font-size: 12px;
}
.search-bar input[type="text"]:active, .search-bar input[type="text"]:focus{
	background-color: #ccc;

}
input.searchMain{
	padding-left: 10px;
	width:70%;
}
.search-bar{
	position: relative;
	z-index: 100;
	/*margin-left: 10px;*/
}
.input-append .add-on, .input-prepend .add-on{
	background-color: #333333;
	/*background-color:#4d4d4d;*/
	color:#4d4d4d;
	border-top:none;
	border-bottom:none;
	border-left:none;
	text-shadow:none;
	padding-bottom:6px;
	border-right:2px solid #0d0d0d;
}
.input-prepend .add-on i{
	color:#aaa;
	/*color:#2b8685;*/
}
/*=============================================================MODALS*/
button.my-close-btn{
	padding:0 10px;
}
.modal.fade.in{
	top:3%;
}
.my-modal-body{
	max-height: 1000px;
	/*overflow-y:scroll;*/
}
h5.form-signin-heading{
	margin-top: 0;
}
#myModalupload span.small-text{
	font-size: 75%;
}
/*=============================================================VIEWPORT*/
.viewport-display {
/*	min-height: 480px;
    padding: 20px;*/
    margin: 0px 0 10px 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    /*background-color: #fff;*/
    background-color: #f9f9f9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.viewport-display > .set-view{
	border-bottom:1px solid #ccc;
	min-height: 240px;
	background-color: #f9f9f9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.viewport-display .graph{
	min-height: 240px;
	/*border:1px solid black;*/
}
.viewport-display .info{
	background-color: #f9f9f9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	min-height: 240px;
	border-left:1px solid #ccc;
	
}
.info-content ul.set-info li{
	font-size: 12px;
}
.info-content ul.set-info li span{
	font-size: 14px;
	font-weight: bold;
}
.viewport-display .set-2-empty{
	min-height: 240px;
/*	border:1px solid black;*/
	margin-left: 0;
	background-color: #f9f9f9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.viewport-display .info-display{
	height:auto;
/*	border:1px solid black;*/
	/*padding-left: 20px;
	background-color: #fff;*/
}
.viewport-display .set_tools ul li{
	display: inline-block;
	padding-top: 2em;
/*	border:1px solid black;*/

}
.viewport-display .set_tools ul li a{
	/*color:#F2B017;*/
	/*color:#303030;*/
	color:#2b8685;
}

.viewport-display .set_tools ul{
	padding-right: 2em;
}
.tool-bar-main .nav-pills > li > a{    /*--------bottom tool bar*/
	/*color:#F2B017;*/
	/*color:#2b8685;*/
	color:#45BAB4;
	font-weight: bold;
	font-size: 1.3em;
	border-radius: 5px;
	text-align: center;

}
.tool-bar-main .nav-pills > li > a:hover{
	background: transparent;
	color:#fff;
}
ul.tool-bar{
	margin-top: 20px;
}
#tool-bar-main{
	margin-left: 0;
	

}
.info ul li{
	list-style: none;
}
.info-display .info-content{
	padding-top:1em;
	margin-bottom: 0em;
	font-size: 90%;
}
.info-content li{
	font-size: 90%;
}
.viewport-display .load-another {
	padding-top: 3em;
	background-color: #f9f9f9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.info-content .description, .info-content .notes{
	margin-top:15px;
	line-height: 1.2;
	font-size: 12px;
	margin-left: 0;
	border-bottom: 1px solid #000;
}
.set-info li#show-description a, .set-info li#show-notes a{
	color:#2b8685;
	font-weight: bold;
	padding-left: 0;
}
.set-info li#show-description a:hover{
	color:#000;
}
/*=============================================================MEDIA QUERIES*/

@media (max-width: 979px) {
	.viewport-display{
		min-height: 450px;
	}
	.my-navbar-inner .btn-group a.dropdown-toggle{
	margin-right: 0px;
	}
	/*.dropdown-menu{
		max-width: 115px !important;
	}
	.btn-group > ul.dropdown-menu{
		
		font-size: 12px;
	}*/


}


@media (max-width: 768px) {

	.viewport-display{
		min-height: 600px;
	}

	.btn-group > .btn-small {
		font-size: 10.4px;
	}
	/*.dropdown-menu{
		max-width: 105px ;
	}*/
	.btn-group > ul.dropdown-menu{
		
		font-size: 12px;
	}


}

@media (max-width: 480px) {




}


